.header{
    width: 400px ;
    height: 100px ;
    background-color: #141f40 ;
}
/* header end left */
.contents{
    width: 400px ;
    height: 250px ;
}
.left{
    width: 150px ;
    height: 100% ;
    background-color: #80bfa8;
    float: left;
}
/* top & center */
.top{
    width: 250px ;
    height: 100px ;
    background-color: #0093b7;
    float: right;
}
.center{
    width: 100px ;
    height: 150px ;
    background-color: #dbd403;
    float: left;
}
/* right */
.right-top{
    width: 150px ;
    height: 50px ;
    background-color: #ff9e6b;
    float: right;
}
.right-low{
    width: 150px ;
    height: 100px ;
    background-color: #8c2727;
    float: right;
}
/* footer */
.footer{
    width: 400px ;
    height: 100px ;
    background-color: #d98d30;
}